<h2>My Tasks</h2>    

    <div id="tasks-container">
    
        <div class="task-colunm">
            <h2>To do</h2>
            <% @tasks.each do |task| %> 
                <% unless task.completed %>
                <div id="task-card">
                    <a> <%=link_to task.title, task_path(task)  %> </a>
                </div>
                <% end %>
            <% end %>
        </div>

        <div class="task-colunm">
            <h2>Done</h2>
            <% @tasks.each do |task| %> 
                <% if task.completed %>
                <div id="task-card">
                    <a> <%=link_to task.title, task_path(task)  %> </a>
                </div>
                <% end %>
            <% end %>
        </div>

    </div>

<p><%=link_to "New Task", new_task_path %> </p>

